{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Surthi Kalyan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Surthi Kalyan . Currently Pursuing Bachelors in
Computer Science and Engineering.</p>

            </center>
            
        
         <div>
                <h5>Social Media Handles :</h5><br>
                
                 Mail To :suruthikalyan2002@gmail.com<br><br>
                 Github  :surthi14<br><br>
                 Linked in :Surthi Kalyan
         </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Susmitha</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Susmitha. I am 
                     Pursuing bachelors in Computer Science and Engineering.
                   
                </p>
            </center>
<div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:susmithavasudevans@gmail.com'></a>
                 Mail To :susmithavasudevans@gmail.com<br><br>
                 Github  :susmithavasu<br><br>
                 Linked in :Susmitha Vasudevan
         </div>
            
        </div>
    </div>
</div>

{% endblock body %}